.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.App-header {
  background-color: #363636;
  height: 80px;  
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;

}
.menu{
  padding: 20PX;
  display: inline-block;
  text-decoration: none;
  color: white;
  }


.App-header Button{
  width: 100PX;
  height: 40PX;
  margin-left: 20px ;
  margin-top: 20px;
  color: white;
  background-color: rgb(45, 90, 85);
  border: none;


}
.App-header a{
  color: white;
  margin: 10px;
  text-decoration: none;
  margin: 10px;
}

