.App {
  display: flex;}

.App-header {
  background-color: #363636;
  height: 80px;  
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;

}
.App-header li{
  display: inline-block;
  padding: 10px;
  }


.App-header Button{
  width: 100PX;
  height: 40PX;
  margin-left: 20px ;
  margin-top: 20px;
}
.baner img{
  width: 100%;
  height: 250px;
}
.container{
  display: flex;
  justify-content: center;
}
.Box-container{
  display: flex;
  background-color: #fff;
  border: solid 1px rgb(230, 227, 227);
  width:300px;
  height: 350px;
  margin: 30px;
  justify-content:center;
  display: inline-block;
  text-align: center;
}
.Box-container img{
  width: 100px;
  height: 100px;
}
button{
  background-color: rgb(30, 65, 61);
  width: 120px;
  height: 40px;
  color: white;
}
