.App {
  display: flex;}

.App-header {
  background-color: #363636;
  height: 80px;  
  width: 100vw;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;

}
.menu{
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
  }


.App-header Button{
  width: 100PX;
  height: 40PX;
  margin-left: 20px ;
  margin-top: 20px;
}
Link{
  color: white;
  margin: 10px;

}

